{% extends 'basic.html' %}
{% block title %}Matches - Create your profile{% endblock %}
{% block header %}Create your profile{% endblock %}
{% block main %}
<p>
<form enctype="multipart/form-data" action="{% url 'add-user'%}" method="post">
<table>
{{form}}
</table>
<input type="submit" class="btn btn-lg btn-primary" value="Create profile">
{% csrf_token %}
</form>
<a href="{% url 'profile' %}"><button>Cancel</button></a>
</p>
{% endblock %}


