<!-- Need album_id, album_num, album_img, album_artist, artist_id -->
<div class="col-xs-8 col-sm-{{col_size}} placeholder" id="album-col">
	{% if is_liked %}
		<div class="my-liked" data-album-id="{{album_id}}"></div>
	{% else %}
		<div class="red-heart" data-album-id="{{album_id}}"></div>
	{% endif %}
	<img class="info-icon pulse-grow" data-tooltip="#album{{album_num}}" src="/static/images/info.png"/>
	<div class="play-btn" playing="false" data-album-id="{{album_id}}"></div>
	<img class="album-cover" alt="400x400" src="{{album_img}}"/>
	<!-- Info Tooltip -->
	<div class="container"> 
		<div class="panel panel-default info-tip" id="album{{album_num}}">
		  	<div class="panel-body">
		  		<strong>{{album_name}}</strong>
		  		<br>
		  		{% if artist_followed %}
		  			<button class="btn btn-danger singer-unfollow" data-artist-id="{{artist_id}}" data-artist-name="{{album_artist}}">Unfollow {{album_artist}}</button>
				{% else %}
					<button class="btn btn-primary singer-follow" data-artist-id="{{artist_id}}" data-artist-name="{{album_artist}}">Follow {{album_artist}}</button>
				{% endif %}
				<a class="btn btn-success" href="{{spotify_url}}">View on Spotify</a>
			</div>
		</div>
	</div>
</div>