{% extends 'basic.html' %}
{% block title %}Matches - Edit your profile{% endblock %}

{% block username %}{{profile.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' profile.id %}{% endblock %}

{% block header %}Edit your profile{% endblock %}
{% block main %}
{% for error in form.non_field_errors %}
	<div class="alert alert-danger" role="alert" style="text-align:center">{{error}}</div>
{% endfor %}

<img src="{{profile.picture.url}}" alt="{{form.firstname.value}} " width="200px">
<form enctype="multipart/form-data" action="{% url 'edit-user' id %}" method="post">
<table>
{{form}}
</table>
<input type="submit" value="Save Profile" class="btn btn-lg btn-primary">
{% csrf_token %}
</form>
<br>
<a href="{% url 'profile' id %}" class="btn btn-lg btn-primary">Cancel</a>
</p>
{% endblock %}

