<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Welcome to Matches - Thank you for register using Facebook!</title>
    <!-- Bootstrap CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <link href="static/css/music-dashboard.css" rel="stylesheet">

    <!-- Hover CSS http://ianlunn.github.io/Hover/ -->
    <link href="hover.css" rel="stylesheet" media="all">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Bootstrap JS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script> 

    <!-- Montserrat Font -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700normal&amp;subset=all" rel="stylesheet" type="text/css">

    <style>
        ul {
            list-style: none;
        }
        li {
            padding: 20px;
            text-align: center
        }
        h1 {
            padding: 20px;
            text-align: center;
            color: white;
        }

        h2 {
            padding: 20px;
            text-align: center;
            color: white;
        }

    </style>
</head>

<body>
{% for error in form.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

<div id="register">
  <div id="customer">
    <div class="page-header">
      <h1>Thank you for using Facebook in Matches</h1>
    </div>
    <h2>Please set your username and password at Matches:</h2>

<form method="post" action="{% url 'fbregister' %}">
<table align="center">
{% for field in form.visible_fields %}
<tr>
  <td>{{field.label_tag}}</td>
  <td>{{field}}</td>
  <td style="color: red">{{field.errors}}</td>
</tr>
{% endfor %}
</table align="center">
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}

<br><br><p align="center"><input type="submit" value="Continue" style="height:50px; width:480px;  vertical-align:middle;" class="btn btn-lg btn-primary btn-block"/></p><br><br>
{% csrf_token %}

<p align="center"><a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block" style="height:50px; width:480px; background:green; vertical-align:middle;" type="submit"  value="Return">Back</a> </p>




</div>
</div>
</form>

</body>
</html>