<!-- <ul class="forums"> -->
	{% for forum in forums %}
	<li>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<a class="forum-heading" href="{% url 'inside-forum' forum.id %}"><h4>{{forum.title}} posted by {{forum.who_posted.user.username}}</h4></a>
				Posted at: {{forum.posted_at}}
				<span class="glyphicon glyphicon-comment comment-icon"></span><h5 class="comment-num">{{forum.comments.count}}</h5>				
			</div>
			<div class="panel-body">
				<p>{{forum.info}}</p>
			</div>
			<div class="panel-footer">
				{% for tag in forum.tags.all %}<strong>#{{tag.tag_name}}</strong>  {% endfor %}
			</div>
		</div>
	</li>
	{% endfor %}
<!-- </ul> -->