{% extends 'basic.html' %}

{% block title %}Matches - Forum{% endblock %}

{% block js %}
<script src="/static/js/forums.js" type="text/javascript"></script>
{% endblock %}

{% block username %}{{personal.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' personal.id %}{% endblock %}

{% block header %} Forums {% endblock %}

{% block main %}
<style>
	.forum-heading, .forum-heading:hover {
		color: #FFF;
		text-decoration: none;
	}

	h4, h5, h6 {
		font-family: 'Montserrat' !important;
	}

	.forums li {
		text-align: left;
	}

	.panel-heading {
		position: relative;
	}
	
	.comment-icon {
		position: absolute;
		top: 35%;
		right: 3%;
	}
	.comment-num {
		position: absolute;
		top: -3%;
		right: 4%;
	}
	.user-icon {
		position: absolute;
		top: 35%;
		right: 15%;
	}
	.new-topic {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 30%;
		margin-right: 30%;
		display: block;
	}
</style>

<div class="search container" style="text-align:center;">
	<form id="query-form" class="navbar-form" role="search">
		<div class="form-group" style="display:inline;">
			<div class="input-group" style="width:50%;">
			<input id="query" type="text" class="input-lg form-control" placeholder="Search by tags, title, etc.">
		</div>
		</div>
		<button id="query-submit" type="submit" class="btn btn-default btn-lg glyphicon glyphicon-search"></button>
		<!-- Advanced Search Modal -->
		<!-- TODO: Search by tags, title, who posted, date -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#advancedSearch">Advanced Search</button>
		{% csrf_token %}
	</form>
</div>

<a href="{% url 'new-topic' %}" class="btn btn-info btn-lg new-topic"><span class="glyphicon glyphicon-plus"></span> New Topic</a>

<ul class="forums">
<!-- FILLED BY JS -->
</ul> 

<!-- Incomplete -->
<!-- <footer style="text-align:center">
<nav>
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
</footer> -->

<!-- Modal -->
<div class="modal fade" id="advancedSearch" tabindex="-1" role="dialog" aria-labelledby="advancedSearch" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="advancedSearch">Advanced Search</h4>
      		</div>
      		<form method="post" role="search" class="adv-search">
	      		<div class="modal-body">
					<div class="form-group">
						<div class="row">
		      				<label class="col-sm-3 control-label" for="q">Search</label>
		      				<div class="col-sm-8">
		      					<input class="form-control stored-field" name="search" placeholder="e.g. Muse" type="text">
		      				</div>	
	      				</div>
		      			<br>
		      			<div class="row">
		          			<label class="col-sm-3 control-label" for="type">Item Type</label>
		          			<div class="col-sm-9">                  
			                    <div class="checkbox checkbox-inline">
			                    	<label>
			                        	<input class="stored-field" value="title" name="type" type="checkbox">title
			                      	</label>
			                    </div>		                  
			                    <div class="checkbox checkbox-inline">
			                      	<label>
			                        	<input class="stored-field" value="tag" name="type" type="checkbox">tag
			                      	</label>
			                    </div>		                  
			                    <div class="checkbox checkbox-inline">
			                      	<label>
			                        	<input class="stored-field" value="content" name="type" type="checkbox">content
			                      	</label>
			                    </div>		                  
			                    <div class="checkbox checkbox-inline">
			                      	<label>
			                        	<input class="stored-field" value="playlist" name="type" type="checkbox">user
			                      	</label>
			                    </div>
		          			</div>
		          		</div>
	    			</div>
	        	</div>	
	      		<div class="modal-footer">
	        		<button type="submit" class="btn btn-primary">Search</button>
	      		</div>
      		</form>
    	</div>
  	</div>
</div>
{% endblock %}
