{% extends 'basic.html' %}

{% block title %}Matches - Home{% endblock %}

{% block css %}
<link href="/static/css/home.css" rel="stylesheet">
<link href="/static/css/pnotify.custom.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/home.js" type="text/javascript"></script>
<script src="/static/js/pnotify.custom.min.js" type="text/javascript"></script>
<script src="/static/js/notifications.js" type="text/javascript"></script>
{% endblock %}

{% block username %}{{personal.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' personal.id %}{% endblock %}

{% block header %}New Releases{% endblock %}


{% block main %}
<style>
.alert-warning {
  background-color: #555;
  border: #555;
  color: #FFF;
}
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	<!-- JS Fills In -->
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	<!-- JS Fills In -->
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
	
<h1 class="page-header">Top 20 Recent Favorites</h1>

<div class="container recent-posts"> 
<!-- Filled in by JS -->
</div>

{% endblock %}