<!DOCTYPE html>

{% extends "basic.html" %}
{% block title %}Matches: Find your matches{% endblock %} 

{% block username %}{{personal.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' personal.id %}{% endblock %}

{% block header %}Find your matches now!{% endblock %}
{% block style %}
<style>
    h1{
      color:black;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }

    h2{
      color:black;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }

    h3{
      color:black;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
    h4{
      color:black;
      font-size: 20px;
      padding: 10px;
      text-align: center;
    }
    /* Sorry it was making the sidebar go black 
    is there an alternative to this? */
    h5{
      font-size: 20px;
      /*margin-left: -12cm;*/
    }

    h6{
      padding: 10px;
      margin-left:8cm;
    }
    h9{
      padding: 10px;
      margin-left: 8cm;
    }
    h7{
      color:red;
      margin-left: 13cm;
      font-size: 20px;
    }
    h8{
      color:red;
      margin-left: 13cm;
      font-size: 20px;
    }
    share{
      height:156px;  
      
      width:100%;
    }

  .fb-share-button{
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    -moz-transform: scale(2.5);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
  }



 </style>
{% endblock %}

{% block js %}
<div id="fb-root"></div>
<script>

window.twttr=(function(d,s,id){
  var t,js,fjs=d.getElementsByTagName(s)[0];
  if(d.getElementById(id)){return}js=d.createElement(s);
  js.id=id;
  js.src="https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);
  return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})
}(document,"script","twitter-wjs"));


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1561344864095014&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function() {
  FB.init({
  appId      : '1561344864095014',
  xfbml      : true,
  version    : 'v2.1'});
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
{% endblock %}

{% block main %}
<h2> Songs you like: </h2>
<h1>{% for song in favorite_songs %}
{{song}}&nbsp&nbsp
{% endfor %}
</h1>
{% csrf_token %}

<h4> Users match you: </h4>
{% for profile in userprofile %}
<a href="{% url 'profile' profile.id %}"  class="btn btn-lg btn-primary btn-block">{{profile.user}}</a>
{% if profile.score %}
<h7> Score: {{profile.score}} </h7>
{% else %}
<h8> Score: 0 </h8>
{% endif %}

<h6><img src="{{profile.picture.url}}" height="200" width="200"/></h6>

{% endfor %}
<a class="twitter-share-button" href="https://twitter.com/share" >Tweet </a><br>
<div class="fb-share-button" id="share" data-href="http://ec2-54-173-237-235.compute-1.amazonaws.com:8000/match" data-size="large" data-layout="button" ></div>



{% csrf_token %}
{% endblock %}
