{% extends 'basic.html' %}

{% block title %} New Topic {% endblock %}

{% block css %}
<link href="/static/css/commenter.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
<link rel="stylesheet" type="text/css" href="/static/tags/dist/css/bootstrap-tags.css">
{% endblock %}

{% block js %} 
<script src="/static/tags/dist/js/bootstrap-tags.min.js"></script>
<script src="/static/js/forums.js" type="text/javascript"></script>
{% endblock %}

{% block username %}{{personal.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' personal.id %}{% endblock %}

{% block header %} Start a New Topic {% endblock %}

{% block main %}

<style>
	#comment_form textarea {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#comment_form input[type="submit"] {
		/* To center button */
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h4 {
		font-family: 'Montserrat' !important;
		color: #FFF;
		margin-left: 20%;
	}
	.tag-list {
		margin-left: 20%;
		margin-right: 20%;
		position: relative;
	}
	.tags {
		position: absolute;
		top: 8px;
	}
	.tags:first-child {
		left: 6px;
	}
</style>
<!-- action="{% url 'new-forum' %}" -->
<a href="{% url 'forums' %}" class="btn btn-warning btn-lg go-back"><span class="glyphicon glyphicon-arrow-left"></span> Go Back to Forums</a>
<br><br>
<form class="topic" role="form" method="post">
	<div id="comment_form">
		<div>
			<textarea rows="1" name="title" id="comment" placeholder="Title" required></textarea>
			<br>
			<textarea rows="10" name="topic" id="comment" placeholder="Topic" required></textarea>
		</div>
		<h4> Add Tags </h4>
		<div id="my-tag-list" class="tag-list"></div>
		<div>
			<input type="submit" name="submit" value="Create">
		</div>
	</div>
	{% csrf_token %}
</form>
{% endblock %}