<!DOCTYPE html>
{% extends 'basic.html' %}

{% block title %}Matches - Profile{% endblock %}

{% block css %}
<link href="/static/css/profile.css" rel="stylesheet">
<link href="/static/css/music-dashboard.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/handlebars-v2.0.0.js" type="text/javascript"></script>
<script src="/static/js/profile.js" type="text/javascript"></script>
{% endblock %}

{% block username %}{{you.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' you.id %}{% endblock %}

{% block header %}{{profile.user.username}}'s Profile{% endblock %}

{% block main %}
{% verbatim %}
<script id="artist-template">
<div class="panel panel-default">
	<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#{{artistId}}" aria-expanded="true" aria-controls="{{artistId}}" style="width:100%">
			{{artist}}
	</button>
</script>
	<div id="{{artistId}}" class="collapse">
		<h3 style="color:#000; text-align:center"> {{artist}}'s Top 10 </h3> 
		<ul class="list-group">
			{{#each track}}
			<li class="list-group-item" style="text-align:left">
				<strong>{{name}}</strong>
				<br>
				<audio controls>
  					<source src="{{preview_url}}" type="audio/mpeg" style="margin-left:50px">
  				</audio>
			</li>
			{{/each}}	
		</ul>
	</div>
</div>


{% endverbatim %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<ul class="profile-sidebar">
				<li>
					<a href="#" class="thumbnail">
						{% if profile.picture %}
						<img src="{{profile.picture.url}}" lt="200x200"/>
						{% endif %}
						{% if not profile.picture %}
						<img src="/static/images/default_profile.jpg" alt="200x200"/>
						{% endif %}
					</a>
				</li>
				{% if is_user %}
				<li>
			    	<a class="btn btn-info btn-lg" href="{% url 'edit-user' profile.id %}">Edit profile</a>
				</li>
				{% endif %}
				{% if is_user %}
				<li>
					<div class="dropdown">
					  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					    Friends
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					  	{% for friend in friends %}
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profile' friend.id %}">{{friend.user.username}}</a></li>
					    {% endfor %}
					  </ul>
					</div>
				</li>
				{% endif %}
				<li>
					{% if not is_user %}
						<div class="panel panel-success">
							<div class="panel-body">
								<form class="greeting-form" method="post">
							    	<input type="text" name="message" class="form-control input-msg" id="greeting-input" placeholder="Max 100 characters">
							    	<br>
							    	<input type="hidden" name="user_id" value="{{profile.user.id}}">
									<button type="submit" class="btn btn-success btn-lg send-greeting">Send a Greeting!</button>
									{% csrf_token %}
								</form>
							</div>
						</div>
					{% endif %}
				</li>
				<li>
					{% if not is_user %}
						{% if is_friended %}
						<button class="btn btn-primary btn-lg remove-friend" data-attr-id="{{profile.id}}"><span class="glyphicon glyphicon-minus now-minus"></span> Remove Friend</button>
						{% else %}
						<button class="btn btn-primary btn-lg add-friend" data-attr-id="{{profile.id}}"><span class="glyphicon glyphicon-plus now-plus"></span> Add Friend</button>
						{% endif %}
					{% endif %}
				</li>
				<li>
					<div class="panel panel-primary">
						<div class="panel-heading">About</div>
						<ul class="list-group">
						    <li class="list-group-item list-group-item-info">Emotion Song</li>
						    {% if not profile.emotion_song %}
						    <li class="list-group-item">You and me</li>
						    {% else %}
						    <li class="list-group-item">{{profile.emotion_song}}</li>
						    {% endif %}
						    <li class="list-group-item list-group-item-info">Birthday</li>
						    {% if profile.birthday %}
						    <li class="list-group-item">{{profile.birthday}}</li>
						    {% endif %}
						    {% if not profile.birthday %}
						    <li class="list-group-item">1990.1.1</li>
						    {% endif %}    
						    <li class="list-group-item list-group-item-info">Location</li>
						    {% if profile.location %}
						    <li class="list-group-item">{{profile.location}}</li>
						    {% endif %}
						    {% if not profile.location %}
						    <li class="list-group-item">Pittsburgh, PA</li>
						    {% endif %}
						    {% csrf_token %}
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="panel panel-default">
				<div class="panel-body dashboard" id="album-dashboard" data-profile-id="{{profile.id}}">
					<!-- profile.js FILLS IN -->
				</div> <!-- panel-body -->
			</div> <!-- panel -->
			<style>
				h3 {
					color: #FFF;
					font-family: 'Montserrat' !important;
				}
			</style>
			<h3> Favorite Artists </h3>
			<div class="panel-group singers-list" role="tablist" style="overflow:visible">

			</div>
		</div>
	</div> <!-- row -->
</div> <!-- container -->
{% endblock %}



