 <div class="post">
    <img class="thumbnail left" src="{{profile_img}}" width="100" height="100"/>
    <div class="bubble left">
      <p> {{username}} recently liked: <strong>{{album}}</strong> by <strong>{{artist}}</strong> </p>
      <img class="thumbnail" src="{{img_src}}" widht="150" height="150"/>
    </div>    
  </div>