{% extends 'basic.html' %}
{% block title %}Match: Recover password{% endblock %} 
{% block header %}Reset your password{% endblock %}
{% block main %}
{% block style %}
<style>
    h2{
      color:black;
      font-size: 40px;
      text-align: center;
      font-family: "Times New Roman";
    }
    h3{
      color:black;
      font-size: 20px;
      text-align: center;
      font-family: "Times New Roman";
    }
  
 </style>
{% endblock %}
<form method="post" action="{% url 'recoverpassword'%}" class="form-signin">
    <h2> Recover Password </h2>

    <h3> 
      Enter your username and the password recover link will be sent to your e-mail 
    </h3>
    <p align="center">
    <input type="text" style="height:50px; width:360px;"class="form-control" name="username" placeholder="username"><br><br>
    <button style="height:50px; width:360px;background:purple;" class="btn btn-lg btn-primary btn-block" type="submit">Recover Password</button></p>
    {% csrf_token %}
</form>
{% endblock %}
