#myCarousel {
	background-color: #332C2F;
	background-image: url("/static/images/test1.jpg");
	height: 450px;
}

img {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner {
	text-align: center;
}

.carousel-indicators {
	bottom: 0px;
}

body {
	/*background-color: rgb(96, 193, 216);*/
	background-color: #577492
}

.bubble.left {
	position: relative;
	margin: 20px;
	margin-left: auto; 
	margin-right: 0px;
	width: 85%;
	min-height: 120px;
	height: 100%;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #7F7F7F solid 9px;
}

.bubble.right {
	position: relative;
	margin: 20px;
	margin-left: 0px; 
	margin-right: auto;
	width: 85%;
	min-height: 120px;
	height: 100%;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #7F7F7F solid 9px;
}

p {
	margin: 20px;
}

.post {
	position: relative;
	height: 100%;
}

.thumbnail.left {
	position: absolute;
	top: -7px;
}

.thumbnail.right {
	position: absolute;
	top: -7px;
	right: 0px;
}

h3, h4, h5, h6 {
	font-family: 'Montserrat' !important;
	color: #FFF
}

li.indicator {
	padding: 0px;
}